{% extends 'formato.html' %}

{% block section %}
<h1 class="display-5"><em>Registro de Clientes</em></h1>
<table class="table table-striped table-hover">
    <thead>
        <tr>
            <th>DPI</th>
            <th>Nombre</th>
            <th>TELEFONO</th>
            <th>FECHA_REGISTRO</th>
        </tr>
    </thead>
    <tbody>
        {% for cliente in clientes %}
            <tr>
                <td>{{cliente.dpi}}</td>
                <td>{{cliente.nombre}}</td>
                <td>{{cliente.telefono}}</td>
                <td>{{cliente.fecha_registro}}</td>
                <td>
                    <a href="% url 'visualizar' cliente.dpi %" type="submit" class="btn btn-outline-secondary">Visualizar</a>
                </td>
            </tr>
        {% endfor %}
    </tbody>
</table>
{% endblock section %}